# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Testing
coverage
*.lcov
.nyc_output

# Next.js
.next/
out/
build
dist

# Production
dist-ssr
*.local

# Misc
.DS_Store
*.pem
.turbo
*.tsbuildinfo
next-env.d.ts

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo
*~
.idea
*.iml

# Database
*.db
*.db-journal
*.db-shm
*.db-wal
local.db

# Drizzle
drizzle/**/*.sql
.drizzle/

# Logs
logs
*.log

# OS
Thumbs.db
